body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #14152c;
}

main>div {
  padding: 16px;
}

.spinner {
  animation: spin infinite 2s linear;
  width: 36px;
  height: 36px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}